<div id="main-wrapper">

<% if !current_user %>
		<a class="button button-primary" href="/auth/github/">Sign in with Github</a>
<% end %>



<div class="pi">
	<div class="project container-fluid">
		<div class="row">
			<div class="p title col-md-10"><h3>Demogogue</h3> <span class='score'>[pB 120]</span>
				<button class="btn btn-default btn-xs star-btn">
					<i class="fa fa-star"></i>
				</button>
			</div>
			<div class="p author col-md-2"><h4>Timmehs</h4></div>
		</div>
		<div class="row">
			<div class="p tags col-md-12">#rails #media #website</div>
		</div>
		<div class="row">
			<div class="p desc col-md-12">
				<p>
					A simple exercise using Facebook SDK 3.7. Primary functions are to
					log in through FB and display a list of friends using a custom built
					listview.
				</p>
			</div>
		</div>
		<div class="row">
			<div class="p col-md-12 btns">
				<span class="buttons-left">
					<a>website</a> | <a>github</a>
				</span>
				<span class="buttons-right">

				</span>
			</div>
		</div>
	</div>


</div>


</div>
