
div.project {
  background-color: white;
  border-radius: 5px;
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 15px;
  .row {
    margin-left: 0px;
    margin-right: 0px;
  }
  .p {
    padding: 5px;
    h1, h2, h3, h4 {
      margin: 0;
      display: inline-block;
    }
  }

  button.star-btn {
    margin-left: 5px;
    margin-bottom: 5px;
  }



  .p.desc p {
    margin-bottom: 0px;
  }

  .p.tags {
    font-size: 12px;
    padding: 0px;
    padding-left: 5px;

    ul {
      list-style: none;
      padding-left: 0px;
      li {
        padding-left: 5px;
        background-color: #72d1fa;
        color: white;
        padding-right: 5px;
        border-radius: 3px;
        margin-right: 8px;
        float: left;
      }
    }
  }



  .p span.buttons-left {
    float: left;
  }

  .p span.buttons-right {
    float: right;
  }

}

@media screen and (max-width: 1000px) {
  div.project {
    width: 100%;

    button.star-btn {
      float: right;
    }

    span.buttons-right {
      float: right;
      margin-left: 10px;
    }
  }
}
