
div.pi {
  background-color: gainsboro;
  width: 70%;
  margin: 0 auto;
  .row {
    margin-left: 0px;
    margin-right: 0px;
  }
  .p {
    padding: 5px;
    h1, h2, h3, h4 {
      margin: 0;
      display: inline-block;
    }
  }

  .desc p {
    width: 90%;
    margin-bottom: 0px;
  }

  .tags {
    font-size: 12px;
    font-style: italic;
    padding: 0px;
    padding-left: 10px;
  }

  .buttons-left {
    text-align: left;
  }

  .buttons-right {
    text-align: right;
  }



}
