<div id="signin-form">
  <form class="form-group " action="/session" method="POST">
    <input type="hidden" name="authenticity_token"
    value="<%= form_authenticity_token %>" >
    <div class="form-group">
      <label for="email-field">Username or Email Address</label>
      <input id="email-field" type="text"
      class="form-control"
      name="session[email]" placeholder="Email/Username">
    </div>

    <div class="form-group">
      <label for="password-field">Password</label>
      <input id="password-field" type="password"
      name="session[password]"
      placeholder="Password"
      class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Sign In</button>
    <button type="button"
    class="btn btn-link"
    id="btn-register"
    data-toggle="modal" data-target="#signup-modal">Register</button>
  </form>
</div>
